.devcontainer/**
.github/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.cspell.json
.prettierrc.json
.prettierignore
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
